@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  
  /* Estilos do body */
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0efef;
  }
  
  /* Estilos do header */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  rgba(255, 255, 255, 0);
    padding: 10px;
    color:   rgba(255, 255, 255, 0.719);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 2s;
    /* border-bottom:#4a4a4a solid; */
  }
  .header-scroll {
    background-color: #ffffff; /* cor de fundo ao rolar a página */
    color: #4a4a4a;
    border-bottom: orange solid;
    z-index: 9999;
  }
  
  a{padding: 2px;
    color:  rgba(255, 255, 255, 0.811);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
  }

  .containerBody{
    width: 70%;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
 li a {
    padding: 2px;
    color:  rgba(255, 255, 255, 0.811);
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
  }
  li a:hover{
    border:  rgb(74, 74, 74) solid;
    border-radius: 15PX;
    padding: 10PX;
    color: #4a4a4a;
  }
  h1{
    color: rgb(28, 40, 65);
    font-size: 46px;
  }
  
  
  .logo {
    margin-right: 10px;
    width: 40%; /* Defina o tamanho adequado para o logotipo */
  }
  
  .info {
    display: flex;
    text-align: left;
   

  }
  .info p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  
  .slide {
    width: 100%;
    height: 700px;
    margin-bottom: 30px;
    background-image:url("./img/FUN.png");
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  .service {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

  }
  .boxS{
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    background-color: rgb(28, 40, 65);
    box-shadow: 0px 0px 20px black;
    transition: all 0.5s;
    text-align: justify;
  }
  .boxS h3{
    margin-bottom: 8px;
    margin-top: 5px;
    text-align: center;
  }
  .boxS:hover{
    transform: scale(1.1);
  }
  
  .about {
    width: 100%;
   display: flex;
    margin-top: 30px;
  }
 .sobre{
  padding-left: 15%;
  width: 50%;
 }
 .selo{
  display: flex;
  justify-content: right;
  padding-right: 30px; 
  padding-bottom: 10px;
 }
 .imgSelo{
  transform: rotate(15deg);
 }
 .textSobre{
  margin-top: 30px;
  text-align: justify;
  padding-right: 50px;
 }
 .imgSobre{
  width: 50%;
 }
  .imgSobres{
    width: 100%;
    height: 100%;
    
  }
  .about p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .about .years {
    width: 200px; /* Defina o tamanho adequado para a imagem dos anos de experiência */
    margin: 0 auto;
    display: block;
  }
  
  .premium {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 25px;
    background-color: orange;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .infopremium{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    color: white;
  }
  .linhaVertical{
    border-left: 2px solid #ffffff;
    height: 150px; /* Defina a altura da linha vertical aqui */
  }
  
  .infopremium h5{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(28, 40, 65);
  }
  .infopremium h2{
    font-weight: bold;
    font-size: 35px;
  }
  
  .projects {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }
  .barra{
    margin-bottom: 40px;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    
  }

  .carousel-container {
    width: 45%;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    margin-right: 30px;
  }

  .carousel{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 1s;
    display: flex;
  justify-content: space-between;
  }
  .carousel.zoomed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .carousel.zoomed .carousel-image-container {
    max-width: 90%;
    max-height: 90%;
  }
  
  .carousel.zoomed .carousel-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .carousel.zoomed .controls,
  .carousel.zoomed .close-btn {
    display: none;
  }
  
  .carousel.zoomed .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  

  .prev-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    background-color: #160f6500;
    padding: 5px 10px;
    cursor: pointer;
  }
  .next-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    width: 25%;
    background-color: #8cff0000;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  
  .client {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    background-color: #d4d2d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navClient{
    display: flex;
    justify-content: space-between;
    width: 80%;
  
  }
  .client1{

    background-image: url("./img/several/11.png");
    background-size:inherit;
    background-position: center;
    background-repeat: no-repeat, no-repeat;
    width: 200px;
    height: 200px;
    transition: all 1s;
  }
  .client1:hover{
    background-image: url("./img/several/5.png");
    background-size: cover;
  }
  
 
  
  .contact {
    text-align: center;
    margin-bottom: 30px;
  }
  
  
  
  .contact nav {
    margin-bottom: 10px;
  }
  
  .form {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .form nav {
    margin-bottom: 10px;
  }
  
  .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"],
  .form textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form textarea{
    height: 100px;
  }
  
  button {
    width: 70%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 30px;
  }
  button:hover{
    box-shadow: #333 0 0 20px;
    border: white solid;
  }
  
  /* Estilos do footer */
  footer {
    width: 100%;
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 14px;
  }
  